<section class="signup-form">
	<form 
  fxLayout="column" 
  fxLayoutAlign="center center" 
  fxLayoutGap="10px"
  #f="ngForm" 
  (ngSubmit)="onSubmit(f)">
		<mat-form-field>
			<input 
      type="email"
      matInput
      placeholder="email"
      ngModel
      email
      name="email"
      required
      #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Need an email..</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input 
      type="password"
      matInput
      placeholder="password"
      ngModel
      name="password"
      required
      minlength="6"
      #pwInput="ngModel">
      <mat-hint align="start">At least 6 characters long</mat-hint>
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
    </mat-form-field>

    <div>
      <mat-form-field style="width: 150px">
        <input 
        type="name"
        matInput
        placeholder="first name"
        ngModel
        name="nameFirst"
        required>
      </mat-form-field>

      <mat-form-field style="width: 150px">
        <input 
        type="name"
        matInput
        placeholder="last name"
        ngModel
        name="nameFirst"
        required>
      </mat-form-field>
    </div>

    <!-- <mat-form-field>
      <input
      matInput
      placeholder="Your birthdate"
      [matDatepicker]="picker"
      ngModel
      name="birthdate"
      required>
      <mat-datepicker-toggle 
      [for]="picker"
      matSuffix>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

    <mat-form-field>
      <mat-label>I am...</mat-label>
      <mat-select
       ngModel
       name="role"
       required
       #roleSelection="ngModel">
        <mat-option *ngFor="let role of roles" [value]="role">{{ role.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="roleSelection.hasError('required')">Please choose a role</mat-error>
      <mat-hint>{{roleSelection.value?.phrase}}</mat-hint>
    </mat-form-field>


    <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="f.invalid">
    Submit
    </button>
  </form>
</section>